.Title
{
    font-size: 100px;
    font-weight: bold;
    color: rgb(8, 115, 196);
    text-align: center; 
    margin-top: 30px;  
    background-color: rgb(150, 139, 10);
}
 
body
{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    background-image: -webkit-radial-gradient(circle, rgb(255, 255, 255), rgb(172, 169, 13));
}

.Into
{
    font-size: 50px;    
    color: rgb(3, 0, 0);   
    width: 50%;
    height: 100%;
    background-color: rgba(11, 148, 228, 0.315);

    margin-left: 55px;
}

.MainLinks
{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.Images1
{
    width: 600px;
    height:400px;
    position: absolute; right: 150px; top: 313px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 40%;      
}

.Images2
{
    width: 600px;
    height:400px;
    position: absolute; right: 150px; top: 703px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 40%;      
}
