body
{
    background-color: #96ad90;   
    
}

h1
{
    font-size: 100px;
    font-weight: bold;
    color: rgb(8, 115, 196);
    text-align: center; 
    margin-top: 30px;  
    background-color: #f7d6c0;
}

nav
{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: -75px;
    margin-left: 22px;
    margin-right: 22px;
    background-color: rgb(219, 232, 216);    
}

.Logo
{
   width: 90%;
   margin-top: 20px;
}


a
{
   padding: 20px;  
}

main
{          
    background-color: rgb(219, 232, 216);
    margin-top: 100px;
    margin-left: 10%;   
    width: 80%;
    padding: 10px;
    text-align: center   
}

.Location /* The page you are on now */
{
    font-size: 50px;
    font-weight: bold;
    color:#3a4a3d;   

}

.employees
{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    background-color: seashell;
  
}

.Order /* The order of the geckos */
{
    font-size: 40px;
    font-weight: bold;
    color: #3a4a3d;
    margin-top: 10px;
   
}



div.scroll-container 
{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    width: 97%;
    height: 300px; 
    background-color: #f7d6c0;      
}
  
section
{
    
    border: 5px dashed #3a4a3d;
}



.NamesF /* Names of the Female geckos */
{
    font-size: 50px;
    font-weight: bold;
    color: rgb(99, 5, 5);
    text-align: center;
    margin-top: 10px;
    background-color: seashell;
    border: 5px solid rgb(243, 8, 8);
    width: 50%;
    margin-left: 25%;
}

.NamesM /* Names of the Male geckos */
{
    font-size: 50px;
    font-weight: bold;
    color: rgb(12, 41, 230);
    text-align: center;
    margin-top: 10px;
    background-color: seashell;
    border: 5px solid rgb(8, 8, 243);
    width: 50%;
    margin-left: 25%;
}

.Unknown /* Names of the Unknown geckos */
{
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    background-color: seashell;
}
